---
layout: default
---

<h1>Create Post</h1>

<form action="/" method="post">
  <fieldset class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" placeholder="Super Smash Bros. and Mario Kart 8 Deluxe">
    <small class="text-muted">Enter the event title. This could include games played at the event.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="summary">Summary</label>
    <input type="text" class="form-control" name="summary" id="summary" placeholder="Get ready for two amazing games at this week's social!">
    <small class="text-muted">Enter an exciting summary of what might happen at the event.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="image">Image</label>
    <input type="text" class="form-control" name="image" id="image" placeholder="/img/assets/nyet.jpg">
    <small class="text-muted">Enter the location of an image file on the server. This is what will be used to promote the event.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="image_description">Image description</label>
    <input type="text" class="form-control" name="image_description" id="image_description" placeholder="Promotional art for Super Smash Bros.">
    <small class="text-muted">Describe the contents of the image. This attribute will help blind or partially-sighted players.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="games">Games</label>
    <input type="text" class="form-control" name="games" id="games" placeholder="Super Smash Bros., Mario Kart 8 Deluxe">
    <small class="text-muted">Name the games that will be playable at the social.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="categories">Categories</label>
    <select class="form-control" name="categories" id="categories">
      <option value="weekly-social">Weekly Social</option>
      <option value="lan">LAN</option>
      <option value="weekly-social unofficial">Unofficial Social</option>
      <option value="meeting">Meeting</option>
      <option value="other">Other</option>
    </select>
    <small class="text-muted">Choose which category the event is in.</small>
  </fieldset>
  <fieldset class="form-group">
    <label for="event[date]">Date</label>
    <input type="date" class="form-control" name="event[date]" id="event[date]" placeholder="DD/MM/YYYY">
    <label for="event[time]">Time</label>
    <input type="time" class="form-control" name="event[time]" id="event[time]" placeholder="HH:MM">
    <label for="event[location]">Location</label>
    <input type="text" class="form-control" name="event[location]" id="event[location]" placeholder="Huttons Bar">
    <small class="text-muted">Choose the date and time on which the event will take place.</small>
  </fieldset>
  <input type="submit">Submit</input>
  </button>
</form>
