<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Select an Event</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>


        <div class="container">


            <h2>Select an Event</h2>
            <p class="text-muted">Copy the event's URL.</p>
            <form action="/eventselect" method="post" role="form">
                {{ form.csrf }}
                <div class="form-group">
                    <label for="event_id">Event URL:</label>
                    <input type="text" class="form-control" id="event_id" name="event_id" placeholder="Post title">
                <button type="submit" class="btn btn-success">Submit</button>
            </form>

            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

            {% for message in messages %}
            {% if "Error" not in message[1]: %}
            <div class="alert alert-success">
                <strong>Success! </strong> {{ message[1] }}
            </div>
            {% endif %}

            {% if "Error" in message[1]: %}
            <div class="alert alert-danger">
                {{ message[1] }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}

        </div>
        <br>      
        </div>
        </div>
    </body>
</html>
