<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Reusable Form Demo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
 
<div class="container">
 
 
  <h2>Flask Web Form</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Post title">
      <label for="summary">Summary:</label>
      <input type="text" class="form-control" id="summary" name="summary" placeholder="Enter a cool tagline for the event!">
      <label for="image">Image:</label>
      <input type="text" class="form-control" id="image" name="image" placeholder="Place a link to the image here.">
      <label for="image_description">Image description:</label>
      <input type="text" class="form-control" id="image_description" name="image_description" placeholder="Describe the image.">
      <label for="games">Games:</label>
      <input type="text" class="form-control" id="games" name="games" placeholder="Enter a list of the games at this event.">
      <label for="categories">Categories:</label>
      <input type="text" class="form-control" id="categories" name="categories" placeholder="Which categories does this event fall under?">
      <label for="content">Content:</label>
      <input type="text" class="form-control" id="content" name="content" placeholder="Enter the post text.">
      <label for="date">Date:</label>
      <input type="date" class="form-control" id="date" name="date" placeholder="Enter the date and time at which the event begins.">
      <label for="location">Location:</label>
      <input type="text" class="form-control" id="location" name="location" placeholder="Enter the location of the event.">
      <label for="facebook_link">Facebook Link:</label>
      <input type="text" class="form-control" id="facebook_link" name="facebook_link" placeholder="Enter the link to the Facebook event.">
      <label for="ticket_link">Ticket Link:</label>
      <input type="text" class="form-control" id="ticket_link" name="ticket_link" placeholder="Enter the link to a platform where you can get tickets for this event.">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>      
</div>
</div>
</body>
</html>
